// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
$primary: #e57c41;
$lightgrey: #999;

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

@import "icon-list";
p{
  margin-bottom: 0;
}
body {
  padding: 3rem 1.5rem;
}

a{
  color:#151515;
  &:hover{
    color:$primary;
  }
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}

.btn{
  white-space: nowrap;
  font-size: 16px;
  line-height: 22px;
  padding: 13px 50px;
  border-radius:0;
}

.form-signin{
  max-width:300px;
  display: flex;
  flex-direction: column;
  input{
    margin-bottom:10px;
  }

}
.bg-grey{
  background-color:#f5f5f5;
}
.btn-wb{
  border: 1px solid #151515;
  color: #151515;

&:hover{
  background-color:$primary;
  color:white;
  border:1px solid transparent;
}
}

.btn-bw{
  background-color:#151515;
  color:white;

  &:hover{
    background-color:$primary;

    border:1px solid transparent;
  }
}
.book{
  @include media-breakpoint-down(md){
    margin-top:30px;
  }
  &_title{
    font-size: 38px;
    line-height: 1.2105263158;
    margin-bottom: 0;
    font-weight:400
  }
  &_subtitle{
    @include media-breakpoint-down(md){
      font-size: 16px;
    }
    font-size:14px;

    line-height: 1.2857142857;
    font-weight: 500;
    color:$lightgrey;
    margin-bottom: 10px;
  }
  &_rating{
    padding-bottom: 12px;
    border-bottom: 1px solid #e6e6e6;
    &_text{
      color:$lightgrey;
    }

  }
  &_price{
    font-size: 30px;
    margin-bottom: 24px;
    line-height: 1.2666666667;
    padding-bottom: 12px;
    padding-top:12px;
    border-bottom: 1px solid #e6e6e6;
  }

  &_categories{
    display: flex;
    align-items: center;
    h3{
      font-size:16px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 24px;
      margin-bottom:0;
      margin-left:10px;
    }
    p{
      font-size:14px;
      line-height:24px;
      font-weight:400;
      margin-left:10px;
    }
  }

}
